:root {
    --clr-main: #2E4053;
    --clr-main-light: #0d0d0d;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #b46023;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--clr-main)
}

.logo {
    padding: 1rem;
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}


h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

.menu {
    padding: 1rem;
    background-color: var(--clr-main);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    border-radius: .25rem;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    
}


.contador {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
    
}

.boton-carrito.active .contaddor {
    background-color: var(--clr-white);
    color: var(--clr-white);
}


main {
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.encabezado {
    color: var(--clr-white);
    margin-bottom: 2rem;
}

.produc-detail {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.image-p {
    display: flex;
    max-width: 100%;
    border-radius: 1rem;
}

.detail-p {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: 0rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.nam-p {
    font-size: 1rem;
}

.sum-product {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: .2s, color .2s;
}

.sum-product:hover {
    background-color: var(--clr-red);
    color: var(--clr-white);
}
.footer{
    background-color: var(--clr-main);
    padding: 0%;
    display: subgrid;

}
.abrir-menu,
.cerrar-menu {
    display: none;
}
.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.empty-c,
.carrito-comprado {
    color: black;
    font-size: x-large;
    
}

.ca-p-ag {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main-light);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-image-p {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.elim-p {
    border: 0;
    background-color: transparent;
    color: var(--clr-main-light);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.limpiar-c {
    border: 0;
    background-color: var(--clr-red);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
}
.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main-light);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 3rem;
}

.compra-t {
    border: 0;
    background-color: var(--clr-red);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.disabled {
    display: none;
}

/****** DARK MODE ******/

  
@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: var(--clr-white);
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--clr-main);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}
